.s-button{
    &.MuiButton-root{
        border-radius: 22px;
        @extend %nunito-font;
        text-transform: unset !important;
        box-shadow: unset;
        height: 44px;
        font-weight: 700;
        font-size: 17px;

        &.v-size--default{
            font-size: 16px !important;
            font-weight: 700;
            align-items: center;

            &.small-button{
                font-size: 14px !important;
                max-height: 36px !important;
                padding: 10px 24px !important;
            }
    
            &.medium-button{
                height: 44px !important;
                padding: 14px 24px !important;
            }

            &.v-btn--block{
                height: 44px !important;
            }
        }

        &.theme--light.v-btn--text{
            @include background-color($transparent, #003569);

            &:hover{
                @include background-color($transparent, #003569, 'true')
            }
        }

        &.button-block {
            min-width: 100%;
        }

        &.primary-button{
            @include background-color(#003569);
        }

        &.secondary-button{
            @include background-color($red--60, $primary-red);
        }

        &:hover{
            &.primary-button{
                @include background-color(#003569);
            }
    
            &.secondary-button{
                @include background-color($red--30);
            }
        }

        span.v-btn__content{
            em.left-icon{
                margin-right: 12px;
            }

            em.right-icon{
                margin-left: 12px;
            }
        }

    }
}